[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lsem
[access "refs/for/refs/*"]
	read = group user/lsem
	push = group user/lsem
	label-Code-Review = -2..+2 group user/lsem
	label-Verified = -1..+1 group user/lsem
	rebase = group user/lsem
	removeReviewer = group user/lsem
	submit = group user/lsem
[access "refs/heads/*"]
	read = group user/lsem
	create = group user/lsem
	push = +force group user/lsem
	pushMerge = group user/lsem
[access "refs/tags/*"]
	push = +force group user/lsem
	pushTag = group user/lsem
	pushSignedTag = group user/lsem
